.UsersBox {
    background-color: antiquewhite;
    margin: auto;
    max-width: 500px;
    margin-top: 5%;
}

.inputs {
    display: block;
    width: 55%;
    margin-left: 2%;
}

.labels {
    font-size: 20px;
    
    margin-left: 2%;
}